%section
  .part-14
    .container
      .col-md-3
        %hr/
      .col-md-6.text-center
        %h1 Most Popular Click-to-Call Services
      .col-md-3
        %hr/
%section
  .part-15
    .container
      .col-lg-2.col-md-2.col-sm-4.col-xs-6
        .box
          %h3 Plumbers
          %ul
            %li
              %a{:href => "#"} Home Advisor
            %li
              %a{:href => "#"} Call a Pro Plumbing
            %li
              %a{:href => "#"} Dion’s Top Notch
            %li
              %a{:href => "#"} Great Bay Plumbing
            %li
              %a{:href => "#"} .
          %h3.robotslab-black Cash Back: $18.97
      .col-lg-2.col-md-2.col-sm-4.col-xs-6
        .box
          %h3 HVAC
          %ul
            %li
              %a{:href => "#"} Call a Pro
            %li
              %a{:href => "#"} Heritage
            %li
              %a{:href => "#"} 3 Brothers
            %li
              %a{:href => "#"} Home Depot
            %li
              %a{:href => "#"} .
          %h3.robotslab-black Cash Back: $19.87
      .col-lg-2.col-md-2.col-sm-4.col-xs-6
        .box
          %h3 Electricians
          %ul
            %li
              %a{:href => "#"} Home Advisor
            %li
              %a{:href => "#"} Total Power Electric
            %li
              %a{:href => "#"} Granite State Electric
            %li
              %a{:href => "#"} J.W. Chick Electric
            %li
              %a{:href => "#"} .
          %h3.robotslab-black Cash Back: $11.80
      .col-lg-2.col-md-2.col-sm-4.col-xs-6
        .box
          %h3 Insurance
          %ul
            %li
              %a{:href => "#"} Liberty Mutual
            %li
              %a{:href => "#"} Amica
            %li
              %a{:href => "#"} Esurance
            %li
              %a{:href => "#"} MetLife
            %li
              %a{:href => "#"} Statewide
          %h3.robotslab-black Cash Back: $31.17
      .col-lg-2.col-md-2.col-sm-4.col-xs-6
        .box
          %h3 Cable/Dish TV
          %ul
            %li
              %a{:href => "#"} DirecTV
            %li
              %a{:href => "#"} Dish
            %li
              %a{:href => "#"} Authorized Dealers
            %li
              %a{:href => "#"} Dish Latino
            %li
              %a{:href => "#"} Charter Communications
          %h3.robotslab-black Cash Back: $45.56
      .col-lg-2.col-md-2.col-sm-4.col-xs-6
        .box
          %h3 Credit Repair
          %ul
            %li
              %a{:href => "#"} Alliance001
            %li
              %a{:href => "#"} GreenPath
            %li
              %a{:href => "#"} CareOne Debt
            %li
              %a{:href => "#"} Consolidate Student Loans
            %li
              %a{:href => "#"} Prof. Credit Help
          %h3.robotslab-black Cash Back: $39.49