%section
  .part-13
    .container
      .col-lg-5.col-md-5.col-sm-6.col-xs-12{:style => "margin-top:40px;"}
        %img{:alt => "", :src => "/assets/pig-icon.png", :style => "float:left;"}
        /%span
        %p Your Personal Money Box
        %p The Muddleme coupon and cash back browser extension.
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %p.dis-right Search for services and shop at your favorite stoes and the Muddleme Money Box will notify you when you have coupons and cash back
      .col-lg-3.col-md-3.col-sm-12.col-xs-12{:style => "margin-top:55px;"}
        %a{:href => "javascript:void(0);", :id => 'get-money-box',:style => "font-size:15px;" } GET THE MONEY BOX