#cse-search-box-form-id {
  input[type="text"] {
    width: 100%;
  }
}

#cse-form-container {
  td:first-child {
    width: 80px;
  }
  #cse-input-column {
    width: auto;
  }
  img {
    max-width: 80px;
  }
}

.gsc-wrapper {
  width: auto!important;
}

#gcse-container {
  margin-left: 3px;
}

#cse-middle-search-container {
  position:relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 40px;
  width: auto;
  padding: 10px;
}

#cse-search-logo img {
  transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);

  transform-origin: 0 bottom;
  -webkit-transform-origin: 0 bottom;
  -ms-transform-origin: 0 bottom;
}