section#admin-company {
  article.half-col {
    clear: none;
    width: 450px;
    padding-right: 44px;
  }
  article.half-col.last-child {
    padding-right: 0;
  }
}

article#admin-company-funds {
  float: left;
  width: 360px;
}