%p
  Available variables:

%ul
  %li ((search_number))
  %li ((search_intent))
  %li ((user_first_name))
  %li ((user_last_name))
  %li ((user_email))
  %li ((vendor_first_name))
  %li ((vendor_last_name))
  %li ((vendor_email))
  %li ((campaign_name))
  %li ((offer_name))
  %li ((affiliate_name))
