- content_for :sub_nav do
  = render 'admins/sub_nav', :active_action=>'index', :active_controller=>'admins/stores'
 
%h2 New Store Category
%section.default-content
  = render 'form'
  %br
  = link_to 'Back', admins_store_categories_path, :class=>'orange-button fixed-width-button'
