- admin_preview = admin_preview ||= nil

- if admin_preview
  - @resource_first_name = "((vendor_first_name))"
  - @hello_sub_text = @email_content.hello_sub_text
  - @vendor_confirmation_url = "#"
- else
  - @resource_first_name = @resource.first_name
  - @hello_sub_text = prepare_email_content(@email_content.hello_sub_text, :vendor => @resource)
  - @vendor_confirmation_url = vendor_confirmation_url(:confirmation_token => @resource.confirmation_token)


- content_for :hello_text do
  Welcome #{@resource_first_name}!

- content_for :hello_sub_text do
  - if @email_content.hello_sub_text.blank?
    You can confirm your account email through the link below:
  - else
    = @hello_sub_text

- content_for :main_content do
  %table{:width => "100%", :border=> "0", :cellpadding => "0", :cellspacing => "0"}
    %tr
      %td{:align=>'center'}
        = link_to 'Confirm my account', @vendor_confirmation_url


= render 'layouts/application/basic_email', :for_vendor=>true, :admin_preview => admin_preview