%section.gray-box.column
  %a.ir.auction-icon#product-icon{:href => product_new_auction_path}
    I'm interested in a product
  %br
  = link_to "I'm interested in a product", product_new_auction_path, :class=> "orange-button"
%section.gray-box.column
  %a.ir.auction-icon#service-icon{:href => service_new_auction_path}
    I'm interested in a service
  %br
  = link_to "I'm interested in a service", service_new_auction_path, :class=> "green-button"