%section.default-content#raise-score
  %h3
    = link_to "RAISE MY UBITRU SCORE!", new_survey_path
  %hr
  %p.important-info
    Increase your online worth, |
    answer a few UBITRU |
    questions today!
  %a.orange-button#go{:href=>new_survey_path} Go!