= simple_form_for current_vendor, :url=>{:action=>:update}, |
  :wrapper=>:standard, :validate => true, :html=>{:class=>'no-label clearfix', :id => "edit_vendor_password"} do |f|

  %div.line
    %div.label Password:
    %div.value.to-hide ******
    %div.to-show{:style=>"display: none;"}
      = no_label_input f, :password, :placeholder => false
  %div.line.to-show{:style=>"display: none;"}
    %div.label Confirm password:
    %div.to-show
      = no_label_input f, :password_confirmation, :placeholder => false

  .actions{:style=>"display: none;"}
    = f.button :submit, 'Change password', :class => "fixed-width-button"
    %a#cancel-edit-passowrd.fixed-width-button.gray-button Cancel Changes