<div class="popModal_content">
	<div class="content34">
	  <div class="btn">
	    <a class="click" href="javascript:void(0)"><i aria-hidden="true" class="fa fa-user"></i>Already a Member</a>
	  </div>
	  <form class="member-form clearfix" style="display: none;">
	  	<div class="member-form-loader hide">
	  		<i class="fa fa-spinner fa-spin"></i>
	  	</div>
	    <p>
	      <input name="email" placeholder="Email" type="text">
	    </p>
	    <p>
	      <input name="password" placeholder="Password" type="password">
	    </p>
	    <p>
	      <input name="" type="submit" value="SUBMIT">
	    </p>
	  </form>
	  <div class="btn" style="position: relative;">
	  	<div class="signup-loader hide">
	  		<i class="fa fa-spinner fa-spin"></i>
	  	</div>
	    <a href="#" class="join-loyalty"><i aria-hidden="true" class="fa fa-hand-o-right"></i>Join Now</a>
	  </div>
	  <div class="btn">
	    <a href="#"><i aria-hidden="true" class="fa fa-thumbs-o-down"></i>Not Interested</a>
	  </div>
	</div>
</div>