- content_for :main_column do
  %section.default-content
    %article.text{:style => 'font-size: 14px;'}
      %p
        %h3
          Frequently Asked Questions
      %p
        %h4
          Don’t hold back. You’ve got questions, we’ve got the answers.
      %p
        %h4
          What is a browser extension?
      %p
        A browser extension is a computer program that extends the functionality of a web browser. Browser extensions can improve the user interface of the web browser with out directly affecting viewable content of a web page.
      %p
        %h4
          How do I log in?
      %p
        A user can log in two ways:
        %br
        1) By clicking the sign in button in the upper right hand corner of the home page. A popup screen will appear asking for your email address and password.
        %br
        2) If you download the Muddleme browser extension simply click the Orange M located in your Search bar (Google / Yahoo / Bing). A popup screen will appear asking for your email address and password. Once entered the Orange M located in your Search bar will turn Green.
      %p
        %h4
          What’s the difference between a Green M and an Orange M?
      %p
        An Orange M signifies the software is turned off – translation: you will not receive coupons, deals or cash for your actions and behaviors. A green M signifies the Muddleme application is running and setting your personal tracking code allowing you to receive coupons, deals, offers and cash for all your behaviors and actions. Green is On/ Orange is Off.
      %p
        %h4
          Who is paying me – Muddleme or the Advertisers?
      %p
        Muddleme is paying you. Muddleme pays its users 70% of the cash received from their advertisers, affiliates and partners for products and services purchased or sometimes called. Your available balance will be located within the balance tab above the Muddleme Box. Payout varies by Merchant and product and service selection. See “When do I get my Money” for a more detailed explanation.
      %p
        %h4
          How do I sign out?
      %p
        Click the Green M in the search tab. This will prompt a pop up window asking if you wish to log out of the software. By selecting yes, you will be logged out of the Muddleme application.
      %p
        %h4
          How do I shop?
      %p
        Just like you normally would. Once the software is downloaded and activated you can type the product, service or company (brand) you wish to find in the search bar in Google, Bing and Yahoo. If you are searching by company name and/or brand (i.e. Sears) the Muddleme application will fetch and serve Sears in your Muddleme box along with all available coupons and our cash back monitoring software. Select the Sears hyperlink, the Shop Now button or open the coupon pop up and select the Sears link from the pop up window. Our platform will track the purchase and pay you cash when you complete a transaction.
        %br
        For service transactions we provide a snapshot of your online value at that particular moment in time for merchants in your geographic area. We show your value via the Earn Cash Table as well as a View Number Link that tracks the call and allows us to pay you when a completed outcome report is submitted. (show link to completed outcome report FAQ).
      %p
        %h4
          How many merchants and offers does the platform offer?
      %p
        The application is programmed to provide a max of 12 offers. Depending on the request one could receive none, one or twelve. It depends on the number of product and service providers partnered with Muddleme, your geographic location and your search criteria. To view all offers click the "More Deals" button to expand the Muddleme box.
        %br
        Muddleme has a unique mobile feature allowing the user to “shake” their phone to get new merchants and scroll through the list. We suggest scrolling through all the offers as we are not providing priority listings at this time.
        %br
        In the event that there are no offers presented or mismatched merchants we suggest changing your search criteria or simply continuing your search outside of Muddleme as we may not have a merchant that fits your request. Note: we will soon have a “refer a vendor” link allowing you to suggest or recommend a merchant in your area that you would like to see on our platform.
      %p
        %h4
          How to download a browser extension?
      %p
        Go to the Muddleme website and select the Try Now button. Out site recognizes the browser you are using and will download the appropriate extension you’re your Browser (Chrome, Safari, Firefox and Internet Explorer). Simply follow the instructions on the website for each browser extension.
      %p
        %h4
          Does it work Mobile Phones and Tablets?
      %p
        Muddleme is a web application therefore it is compatible on all mobile devices, tablets and computers. We recommend downloading the extension for desktop users as the experience is seamless. For Mobile users just type in Muddleme.com and sign in. Once signed in, you can use the Google Search Tool just like you normally would on your mobile phone.

%h2 FAQ
= render 'layouts/application/one_column'