- content_for :main_column do
  %section.default-content
    %article.text

      %h3 Privacy Principles
      %p
        Muddleme Inc. is committed to putting you in charge of your personal information. MuddleMe collects only
        the minimum amount of information necessary for operation  and to service you. We make sure that you control
        how and when your information is communicated.. We have created our Platform, Privacy Policy and Data
        Usage Policy consistent with the following principles:
      %ol
        %li
          Privacy policies and data collection and use policies should be east to understand,, comprehensive,
          always easy to access and yours to manage and share;
        %li
          Only the minimum amount of information necessary to provide you with services will be collected unless
          you choose to add additional content;
        %li
          Information you provide through our Websites, or that we gather as a result of your use on our Websites
          or Mobile Apps, will not be used for marketing or advertising purposes, nor will it be provided
          voluntarily (without your permission) to anyone else unless required by law; and
        %li
          Unless restricted or prohibited by law, and provided your email address has been collected and retained,
          you will be notified when circumstances require Muddleme, Inc. to provide a third party with your
          personal information without your consent.


      %h3 Privacy Policy
      %p
        Muddleme, Inc. except as required by law:
      %ol.lower-latin
        %li
          Muddleme will not transmit to any third party, information regarding users' behavioral data
          (including web browsing activity) unless user freely intent;
        %li
          will not sell or otherwise work with third parties to market additional products or services to users
          (not including Muddleme products, services or affiliates).
        %li
          will not deliver or help others deliver any targeted advertising to users unless requested by users
          via their intent;

      %h3 Information we Collect from our Websites
      %p
        The primary of the goal of Muddleme Inc. is to keep you in control of your personal information and maximize
        its value across the globe. As a result, we strive to keep your privacy intact.
        Our privacy policy reflects this goal:
      %ul
        %li
          We do not use persistent cookies on this site
        %li
          We won't share data unless you initiate its sale through the Muddleme platform.
        %li
          No specifics of a user and what they do on the site are shared without your permission – EVER.
      %p
        This website is not directed at individuals under thirteen years of age, and we do not intend to collect any
        personally-identifiable information from such individuals.


      %h3 Additional Information we Collect
      %p
        %strong
          All your accounts, passwords, and other browsing activity is stored locally in an encrypted database.
      %p
        Our Muddleme applications are tied to you and your IP address, and are used to help increase your online
        value. If you chose to provide more data in order to take advantage of additional value added services
        the choice is yours.
      %ul
        %li
          We may collect a unique number from each browser add-on to track total number of intents and verify proper
          functioning of our payouts to customers.
      %p
        If you have any questions about this policy, please contact us at
        %a{:href => "mailto:kevin@muddleme.com"}kevin@muddleme.com


%h2 Muddleme Privacy Policy
= render 'layouts/application/two_columns'