$('#sms-processing-message').show();
$('#sms-processing-message').html("");
$('#sms-processing-message').html("<p style=font-size:20px;> SMS delivered successfully. Please check your phone. Thank you!</p>");
$("#sms-processing-message").delay(5000).fadeOut();
