- content_for :main_column do
  %section.default-content
    %article.text

      %h3 Terms of Use Agreement
      %p
        Welcome to the Muddleme website. This Terms of Use Agreement (“Agreement”) constitutes a legally binding contract 
        between Muddleme, Inc. a Delaware corporation (“Muddleme”, “MM”, “we”, “us”, “our”) and you with respect to your 
        use of the Muddleme website, Muddleme applications for mobile devices, and the Information and Services 
        (collectively, the “Market Maker Platform”). It is important that you carefully read and understand the terms 
        and conditions of this Agreement. By using the website, you agree to be bound by this Agreement. If you do not agree 
        to these terms and conditions, please do not use the Website or any of the Information and Services.  Be advised that 
        this Agreement contains disclaimers or warranties and limitations on liability that may be applicable to you.
      %p
        We reserve the right at any time, with or without cause, to:
      %ul
        %li change the terms and conditions of this Agreement;
        %li change the Website, including eliminating or discontinuing any Information or Services or other feature of the website; or
        %li deny or terminate your use of and/or access to the website.
      %p
        Any changes we make will be effective immediately upon our making such changes available on the website or otherwise 
        providing notice thereof. You agree that your continued use of the website after such changes constitutes your acceptance 
        of such changes. We encourage you to review this policy periodically to stay informed about how we collect, use, 
        and disclose data.


      %h3 Privacy Policy
      %p
        Muddleme’s mission is to create and promote the world’s most comprehensive online data repository with the utmost attention 
        to ensuring your anonymity and privacy. Our business is based upon the collection and use of anonymous customer profiles 
        auctioned by you, the consumer through our market maker platform in order to allow advertisers, publishers and other 
        content providers to bid for your information and the right to deliver relevant and meaningful offers to their users. 
        Because we want to put you, the consumer in control, you can enhance your online value and preferences in our repository 
        by responding and sharing your answers to questions via your anonymous profile. Your past purchases, history, 
        preferences and answers may be used anonymously to influence which types of marketing messages and offers are delivered 
        to you when you initiate an auction for your contact information. We also allow you to choose not to participate in our 
        repository at all. 
      %p
        This privacy policy is intended to inform you about our collection, use and discloser of information that we process for 
        our Muddleme online market maker repository, for our corporate website, 
        %a{:href => 'http://www.muddleme.com'} www.muddleme.com
        and for our targeting and propensity management services.


      %h3 Overview of Our Services
      %p
        We collect both personally and non-personally identifiable information regarding the behavior and usage patterns of 
        our users and share that information ONLY when our users initiate an auction for their information and what to receive 
        the best offers. In this policy, we refer to this non-personally identifiable information, together with non-personally 
        identifiable information that we obtain from other third parties in order to influence and encourage which types 
        of marketing messages and other content are displayed to you, as “ Best Offers”. We use data to prepare groups of like 
        users, referred to as “segments”, based upon their behavior, purchasing history and propensity index. We give our customers 
        limited rights to view user profiles, void of all identifiable information for enhanced segmentation, classification and 
        targeting. We provide this as a basis for vendor participation, bidding and to provide “Best Offers”. We also collect 
        non-personally identifiable information for other purposes: for example, to provide statistical analysis, market research 
        and analytics. 


      %h3 Registration
      %p
        Access to certain functionalities of the Website will require you to register with and/or provide certain information 
        to Muddleme. We reserve the right to decline to provide Services to any person of company for any or no reason. 
        If and when you register with or provide information to Muddleme you agree to a) provide accurate, current and complete 
        information about yourself or company as prompted (including your email address), and b) maintain and update your 
        information (including your email address) to keep it accurate, current and complete. You acknowledge that, 
        if any information provided by you is untrue, inaccurate, not current or incomplete, we reserve the right to terminate 
        this Agreement and your use of the Website, Services, and/or information.


      %h3 Collection of Data
      %p 
        We use non-personally identifiable means, including “cookies” and “pixel tags” to collect and store data.
      %p
        Cookies are small text files that contain a string of characters and uniquely identify a browser. 
        They are sent to a computer by Website operators or third parties. Most browsers are initially set up to accept cookies. 
        You may, however, be able to change your browser settings to cause your browser to refuse third party cookies or to 
        indicate when a third part cookie is being sent. Check your browser’s help files to learn more about handling 
        cookies on your browser. 
      %p
        Pixel tags are small strings of code that provide a method for delivering a graphic image on a Web page or other document. 
        Pixel tags allow the operator of the Web page or other document, or a third party who serves the pixel tag, to set, 
        read, and modify cookies on, and to transfer other data to, the browser used to view the Web page or other document. 
        Pixel tags may also be used to obtain information about the computer being used to view that Web page other document. 
        The entity, that sends the tag can view the IP address of the computer and the tag is sent to, the time it was sent, 
        the user’s operating system and browser type and similar information.
      %p
        Muddleme uses information collected at various times and by pixel tags and cookies placed on several Web sites 
        in order to collect and track transaction history and preference data. We may also obtain data from third party sources 
        and may combine it with other preference data that we have collected. 
      %p
        The data that we collect from users includes, for example, a user’s browser type and version and operating system. 
        In addition, we may collect information about a user’s purchasing history, such as the date and time they visited 
        a web site, time they made a transaction, the content and offer areas of the website that a user visits, 
        and other click stream data, none of which includes personal information about the user.


      %h3 Access To and Our Use of Profile Data
      %p 
        Muddleme analyzes the data collected from various users and at different times to define segments and classify 
        select value ranges to assist both users and vendors understand propensity values within those segments. Our policy 
        is to provide full access to all personally identifiable information and profile history to the user and allow them 
        to share as much or as little via their anonymous profile to the vendor community.
      %p
        We are aware of the sensitivity of certain types of data. We do not create or share any profiles or segments 
        on the Muddleme Market Maker Platform without the consent and expressed intent of the Muddleme User. 
        While the types of Data that may be considered sensitive may vary among users, we presently treat Data as sensitive 
        if it includes data reflecting a user having a medical condition; certain aspects of a user’s personal life or 
        financial situation; or use of, or interest in, gambling, alcoholic beverages or adult products and services. 


      %h3 Acceptable Use Policy
      %ol.lower-latin
        %li 
          You agree not to use the Information, Services or the Website to take any action or actions that:
        %li 
          Are contrary to Muddleme’s public image, goodwill or reputation;
        %li 
          Infringe on our or any third party’s copyright, patent, trademark, trade secret or other proprietary rights 
          or rights publicity or privacy;
        %li
          Express or imply that any of your statements, activities or causes is endorsed by us, 
          without our prior written consent in each instance;
        %li
          Violate any applicable law, statute, ordinance or regulation, or encourage any conduct that could constitute 
          a criminal offense or give rise to a civil liability;
        %li
          Are libelous, defamatory, threatening, harassing, and invasive of privacy, abusive, tortuous, hateful, 
          discriminatory, pornographic or obscene;
        %li
          Transmit any trade secret or other material, non-public information about any person, 
          company or entity without the authorization to do so;
        %li
          Restrict or inhibit any other website visitor from using the Website, including without limitation, 
          by means of hacking or defacing any portion of the website
        %li
          Modify, adapt, sub-license, translate, sell, reverse engineer, decompile, or disassemble 
          any portion of the website or information;
        %li
          Remove any copyright, trademark, or other proprietary rights notices contained in or on the information, 
          website or services;
        %li
          Distribute any virus, worm or other similar or deleterious files, scripts or programming routines;
        %li
          Interfere with or disrupt any services or equipment with the intent of causing an excessive or 
          disproportionate load on the infrastructure of Muddleme or its licensors or suppliers;
        %li
          Involve the preparation or distribution of junk mail, spam, chain letters, pyramid schemes, 
          or other deceptive or unsolicited bulk or commercial email, or violate in any way the Controlling the Assault 
          of Non-Solicited Pornography and Marketing Act (CAN-SPAM Act of 2003);
        %li
          Use any robot, spider, site search/retrieval application, or other manual or automatic device or process 
          to retrieve, index, “data mine” the website or in any way reproduce or circumvent the navigational structure 
          of presentation of the website or its contents, authentication and security measures;
        %li
          Forge headers or otherwise manipulate identifiers in order to disguise the  origin of any auction or offer
        %li
          Execute any form of network monitoring or run a network analyzer or packet sniffer or other technology 
          to intercept, decode, mine or display any packets used to communicate between the website’s servers or any data 
          not intended for you; and/or
        %li
          Harvest or collect information about any website visitors or members without their express consent.
      %p
        Improper use of the website, information and services may result in termination of your access to and use of 
        the website, and/or civil or criminal liabilities.


      %h3 Disclosure of Information
      %p
        We never disclose Personally Identifiable Information from profiles to our vendors without the express consent 
        and intent of our users. We indicate to our vendors a user’s classification within a segment at various times 
        but never share a user profile containing personally identifiable information. For example, we may tag an anonymous 
        user as a member of a segment when the user initiates an auction for a select product or service in a certain category. 
        Our vendors may view a user’s profile within a segment but cannot solicit or serve offers to them without their 
        initial or agreed upon consent. Our vendors may also use third party service providers, acting on behalf of their 
        services to review profiles and bid for the consumers contact information. We do not authorize our vendors to resell 
        Data to third parties. Please note that our vendors also have their own data retention policies. 
      %p
        From time to time we may share Data with third party service providers (i.e. data storage and processing facilities) 
        in order for those service providers to perform business functions for us or on our behalf.
      %p
        We many also disclose data if we believe that we have a legal obligation to do so.
      %p
        In addition, information in our possession or control, including Personally Identifiable Information, 
        may be disclosed in any merger, acquisition, debt financing, sale of company assets, or other business transaction 
        in which data could be transferred to third parties as one of our business assets.


      %h3 Opting Out of the Services
      %p
        We provide multiple ways for you to opt out of our services.
      %p
        We make available a Muddleme “opt-out” cookie that you may download to your browser. This cookie, 
        when installed on your browser, will prevent us from collecting Data on the browser. By opting out you are also 
        opting out of promotional offers and compensation from third party partners.
      %p
        You may prevent Muddleme from collecting data on a browser by blocking third party cookies in that browser. 
        If you block third party cookies from being set on your browser, you may not be able to enjoy some feature 
        or functionality of the Muddleme platform including; increased propensity score, transaction sharing and history 
        and best offers.


      %h3 Our Corporate Website and Our Marketing  Practices
      %p
        Our corporate website 
        %a{:href => 'http://www.muddleme.com'} www.muddleme.com 
        is designed for our clients who are generally users selling their contact information for the right to receive 
        best offers and vendors buying contact information and serving best offers. 
        We don’t collect personally identifiable information from users via our website unless users choose to provide it 
        to us and sell it via our Market Maker Platform.  We use cookies and pixels on both our Website and our affiliates 
        to help us better understand how our vendor offers are viewed, how transactions occur and how our platform and sites 
        are being used to help our own marketing programs. If you would like us to update, delete, or deactivate any personally 
        identifiable information that you have provided to us on this website, please send your request to 
        %a{:href => "mailto:privacy@muddleme.com"} privacy@muddleme.com 
        and we will process your request within a reasonable period of time after receipt. 


      %h3 Our Data Management Platform
      %p 
        Muddleme offers a platform that enables our clients to manage their own contact and personally identifiable 
        information and share it when they are ready to receive compensation and best offers. This data is collected 
        and used subject to the individual privacy policy for each customer. However, you may opt-out of all of the uses 
        of our platform to influence your propensity to purchase score and which types of marketing offers and best deals 
        are displayed to you by following the opt-out instructions above.


      %h3 Reporting
      %p
        We may provide reports to our vendors who access the Market Maker Platform for data segmentation and analytics. 
        Our customers may use these reports to determine information about available segments (e.g. the number of users 
        in segments). There reports may also be used for billing, auditing, campaign management and other operational purposes. 
        These reports are prepared using data gleaned from a user’s activity on websites on which transaction data is 
        collected and used. To prepare our reports, we may or may not maintain log files for a period of 12 months. 
        Our reports and log files do not included any personally identifiable information about users.


      %h3 Children
      %p
        You hereby affirm that you are over the age of 12, as this Website is not intended for children under 13. 
        If you are under 13 years of age, then you may not use this Website. You further affirm that you are fully 
        able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties 
        set forth in the Agreement, and to abide by and comply with this Agreement. 


      %h3 Data Security and Data Integrity
      %p
        We use security measures that are reasonably designed to protect personally identifiable information and data 
        in our control from unauthorized access, disclosure, alteration and destruction. Please be aware, however, 
        that no data security measures can be guaranteed to be completely effective. Consequently, we cannot ensure 
        or warrant the security of any data or other information. In particular, we cannot guarantee that data or other 
        information will not be disclosed, altered, or accessed in accidental circumstances or by unauthorized acts of others.
      %p
        Muddleme processes information in a way that is compatible with and relevant for the purpose for which it was collected. 
        To the extent necessary for those purposes, we take reasonable steps to ensure that any information in our care 
        is accurate, complete, current and reliable for its intended use. 


      %h3 Data Retention
      %p
        We retain all data and other information for up to 12 months. After 12 months, some of the information we have 
        (i.e. behavioral tendencies) may be aggregated for statistical purposes and stored indefinitely and/or destroyed.


      %h3 This Website is Operated By
      %p
        Muddleme, Inc.

%h2 Terms and Conditions
= render 'layouts/application/two_columns'