- content_for :main_column do
  %section.default-content
    %article.text{:style => 'font-size: 14px;'}
      %p
        %h3
          Why did you start Muddleme?
      #about-us
        %p
          Muddleme started after witnessing years of inefficiencies in the marketplace and from the love and support of my friends and family. However, I think the burning desire to make a difference and implement change stems from two eye-opening meetings I had along the way. The first was with a Prominent Venture Capitalist firm in Silicon Valley and the other was with a very successful co-founder, CTO at a leading ad serving company in the Northeast.  Let’s start with the Venture Capitalist and the quote of the year: “People don’t want money. They want points and badges. They want to play games.” Really?  This hit home with me. It’s not that people don’t want money, it’s more like he wants all the money. And we’re talking billions of dollars.
        %p
          To sit there and tell me people would rather get 10,000 points (equal to $5) of online currency at select locations or a badge claiming they’re the Mayor of Mayberry was ridiculous. I would much rather have $100 in my account so I can pay a bill or buy some food than have 10,000 points ($5 value) towards the purchase of a $400 Gas Grill at Sears. Change is coming I thought  - as I left hoping I would never have to ask a VC for money. So far so good.
        %p
          Okay now the statement from the CTO of the company in the Northeast that caused my blood to boil. The reason why I was so angered (besides the obvious) was because I’ve heard the exact statement several times before from very successful individuals. “People are stupid.”  How insulting. I understand that some people are more challenged than others but to call all users, HIS CUSTOMERS, the people that pay his paycheck, Stupid, was beyond comprehension. It reminded me of athletes or movie stars upset by fans asking for their autographs after a game or during a premier, a feeling like they cannot be bothered. The fact that he could not realize these same stupid people, you and I, were the same people who brought him wealth and gave him a platform, a voice, recognition. I honestly felt embarrassed for him.  Funny right, this is a CTO that had it all from a business perspective, millions of users, strong strategic partners, a lot of money and yet, I felt sorry for him. People are not stupid. Each one of us brings something unique and valuable to the marketplace.  Our uniqueness allows these companies to flourish and profit beyond our wildest dreams and yet they take us for granted, treat us as numbers, capitalize on our behaviors and lead us to water poisoned by inequality.
        %p
          We believe you should treat people the way you want to be treated. Be tough but fair. Do what you say and say what you mean and most importantly have a voice, take ownership of your actions – good or bad – and reap the benefits or face the repercussions.
        %p
          We have a strong moral compass and we just happen to provide great software that cares about people.  You should try it.

%h2 About Us
= render 'layouts/application/one_column'