#cash_call.reveal-modal.popup.cash-call
  header.header
    figure
      img src="images/logo.png" alt="Ubitru" height="60"
    a class="close-reveal-modal" X
  .popup-content
    .merchants-block.cf
      table
        thead
          tr
            th.align-left Merchant
            th.align-center Earn Cash
            th.align-center Offer
            th.align-center Code
            th.align-center Call Now
        tbody
          tr
            td.align-left A Plumber Near You
            td.align-center $5.25
            td.align-center 
            td.align-center abcd123456
            td.align-center <a href="#" class="view-number"><i class="fa fa-phone"></i>View Number</a></td>
         </tr>
           <tr>
           <td data-rwd-label="Merchant" class="align-left">ABC Plumbing Services</td>
           <td data-rwd-label="Earn Cash" class="align-center">$4.90</td>
           <td data-rwd-label="Offer" class="align-center"></td>
           <td data-rwd-label="Code" class="align-center"></td>
           <td data-rwd-label="Call Now" class="align-center"><a href="#" class="view-number"><i class="fa fa-phone"></i>View Number</a></td>
         </tr>
           <tr>
           <td data-rwd-label="Merchant" class="align-left">Heritage Plumbing</td>
           <td data-rwd-label="Earn Cash" class="align-center">$4.90</td>
           <td data-rwd-label="Offer" class="align-center"></td>
           <td data-rwd-label="Code" class="align-center"></td>
           <td data-rwd-label="Call Now" class="align-center"><a href="#" class="view-number"><i class="fa fa-phone"></i>View Number</a></td>
         </tr>
        </tbody>
      </table>
         
         <div class="total-cash row">
      <div class="left">
       <h5>Your Total Cash: $15.05</h5>
<p>For every call made you receive the cash payout if you transact.</p></div>
    <a class="btn btn-green" href="#">More<br>Merchants</a>
     </div>
          
      </div>
       
  </div>
  </div>