%section.milky-box.box-with-stamp
  %h3
    Want to sell your
    %br
    contact info instead?
  %p 
    Head on over to the
    %a{:href => root_path} Customer Zone 
    and get paid just for being a customer.
  %div.stamp#get-paid-stamp