- content_for :javascripts do
  = javascript_include_tag "#{params[:controller]}/company-details"

- content_for :main_column do
  %section.default-content#company-registration
    %article#company-details.details-preview
      = render :partial => 'step2_form'

%h2 Company Account Setup - Step 2
= render 'layouts/application/two_columns'
