
<div class="invite-section01">
  <div class="container"> <img src="ubitru/friend-line.png" alt="">
    <h2>Invite your friends to UbiTru</h2>
    <p>”Get paid every time your friends make a call or purchase online”</p>
  </div>
</div>
<div class="invite-section02">
  <div class="container">
    <div class="box01"><img src="ubitru/icon01.png" alt=""><p>Your friends are part of your network. We don’t share what they buy and from whom, we just pay you when they do.</p></div>
    <div class="box02"><img src="ubitru/icon02.png" alt=""><p>Whenever a friend calls or makes a purchase you receive 10% of their earned money for 1 year.</p></div>
    <div class="clearfix"></div>
    <div class="box03">Sign in:</div>
    <div class="box04"><input name="" type="text" placeholder="e-mail adress or username"></div>
    <div class="box05"><input name="" type="password" placeholder="password"></div>
    <div class="clearfix"></div>
    <div class="box06"><input name="" type="submit" value="Sign in"></div>
  </div>
</div>
<div class="invite-section03">
  <div class="container">
    <h3>How the Muddleme Referral platform works:</h3>
    <h4>When you refer a friend...</h4>
    <p>That’s not a current Muddleme user to register on the platform you get paid. You will get paid (cash) every time your referral calls a merchant, purchases a product, uses a coupon or requests a quote. You will receive 10% back on everything your referral does online for up to 1 year.</p>
    <h4>Don’t worry</h4>
    <p>Your friends will still receive 70% for everything they do.</p>
  </div>
</div>
