%h2.spaced How MuddleMe works for vendors

%div.column.width300
  %section.default-content.ribboned.step-one
    %article.text
      .ribbon
      %h3 
        STEP 1 - Register on the MuddleMe Network
      %div
        = image_tag('pictures/v-card.png', :class=>'in-content')
        %h4
          Create a profile,
          %br
          the rest is easy
        %p
          Be as specific as possible. The more details you can give about your business and the products you offer,
          the more qualified leads we’ll send you.

%div.column.width300
  %section.default-content.ribboned.step-two
    %article.text
      .ribbon
      %h3 STEP 2 – Bid for buyers you want to engage
      %div
        = image_tag('pictures/great-deal-sticker.png', :class=>'in-content')
        %h4 Choose buyers with laser precision
        %p
          We’ll provide a variety of metrics to help you decide, including purchase history, and the MuddleMe Score,
          a patented, algorithm-based numeric rating of a buyer’s likelihood to complete a purchase. And don’t worry…
          MuddleMe buyers have chosen to make their information available, and they’re getting paid for it, too!

  
%div.column.width300.last-child
  %section.default-content.ribboned.step-three
    %article.text
      .ribbon
      %h3 STEP 3 – Enjoy dramatically increased ROI!
      %div
        = image_tag('pictures/piggy.png', :class=>'in-content')
        %h4 Unprecedented Efficiency
        %p
          Pay only for leads you wish to pursue, and as you experience an unprecedented level of efficiency with
          your marketing spend, you’ll be free to cut back on your less efficient marketing efforts, saving you
          even more budget.
        %p
          %strong
            = link_to "Sign up FREE", new_vendor_registration_path
            to become a MuddleMe vendor today!
  %section.milky-box.box-with-stamp
    %h3
      Want to sell your
      %br
      contact info instead?
    %p 
      Head on over to the
      %a{:href => root_path} Customer Zone 
      and get paid just for being a customer.
    %div.stamp#get-paid-stamp