%header#header-for-logged
  %div.row
    %div.column
      %a{:href => root_path}
        %h1#logo.ir Muddle Me
    %div.column#admin-zone-stamp
      = render :partial => 'layouts/admins/admin_zone_stamp'
    %div#navigation-area
      = render :partial => 'layouts/admins/account_bar_for_logged'
      =# render :partial => 'layouts/application/navigation_bar'
