%footer#big-footer
  %div.row
    %aside.column.footer-col
      %div.footer-headline.clearfix
        %div#pencil-icon
        %h3.footer-title MuddleMe introduces you to interested buyers
      %p
        Just because someone is of a certain age, gender, income, or education level does
        %strong not
        mean that person wants your product. MuddleMe, however, connects you to buyers that have clearly expressed intent to buy what you’re selling.
      %p
        %a{:href => company_what_is_muddle_me_path} Read More
    %aside.column.footer-col
      %div.footer-headline.clearfix
        %div#smile-icon
        %h3.footer-title Real opportunities to make a sale
      %p Find people who actually want what you’re selling. MuddleMe provides you with an algorithm-based rating of the likelihood a person will actually follow through with a purchase.
      %p
        %a{:href => company_what_is_muddle_me_path} Read More
    %aside.column.footer-col
      %div.footer-headline.clearfix
        %div#ribbon-icon
        %h3.footer-title Stop wasting money on advertising
      %p If you’re converting 3 to 5 percent with traditional online and offline advertising, you’re doing relatively well, but what about that other 95 to 97 percent? Is wasting all that money really necessary?
      %p
        %a{:href => company_what_is_muddle_me_path} Read More