%h3
  AUCTIONS YOU’VE WON
  = image_tag 'pixel.gif', :class=>'qmark', :title=> "TODO tip"
  = link_to 'Download CSV', won_auctions_path(:format=>:csv), :class => "fixed-width-button green-button"
%hr.for-table