%article#extra-offers-message
  .green-guy-icon
  .offwhite-box.details-preview
    %h3 
      .pad-line You have instant cash back
      .pad-line and exclusive coupons from the merchants below.
    %p
      We’re just getting started so you may not see bids just yet. Not to worry! We’ve matched 
      you up with the below merchants for coupon codes and instant cash earnings.
    %p.highlight
      Save big on 
      %em all purchases
      , not just the item in your auction! 
  .arrow-down