- active_action ||= ''
- subnav_actions = []
- subnav_actions << {:action=>'product', :label=>'Create a Product Auction'}
- subnav_actions << {:action=>'service', :label=>'Create a Service Auction'}
- subnav_actions << {:action=>'index', :label=>'View Auctions'}
%ul{:style => "margin-top: -38px;"} 
  - subnav_actions.each do |action|
    - cls = action[:action] == active_action ? 'active' : nil
    %li{:class=>cls}
      = link_to_unless(active_action==action[:action], action[:label], {:action=>action[:action]}) do
        %span= action[:label]