#profile-details .details-box-header h2 {
  margin: 24px 0;
}

#profile-details .details-box-header .title {
  max-width: 460px;
}

#profile-details .details-box-header .score {
  float: right;
  max-width: 190px;
  margin: 16px 50px 0 0;
  font-size: 14px;
}

#profile-details .details-box-header .score {
  .score-text {
    display: block;
    float: left;
    height: 55px;
    line-height: 55px;
    margin-right: 10px;
  }
  .small-score-stamp {
    float: left;
  }
}

#profile-details .actions * {
  margin: 5px;
}

#profile-details {
  .column.half-col {
    width: 50%;
    .table-wrap {
      padding: 10px;
      border: 1px solid #d9d8d8;
      border-right: none;
      min-height: 162px;
    }
  }
  .column.half-col:first-child {
    .table-wrap {
      border-left: none;
    }
  }
}


