%p Hey,
  = recipients 
%p 
  You have inivation from #{@user.email} check out this new website: Ubitru.com. In todays economy companies want to pay for your email address! How cool is that? Follow this link and register:

%p

= link_to 'click Here',@url

%p
%p
  Team Ubitru
    