.roboto-normal{ font-family: 'Roboto', serif !important; font-weight: normal !important; }
.roboto-bold{ font-family: 'Roboto', serif !important; font-weight: bold !important; }
.robotoslab-normal{ font-family: 'Roboto Slab', serif !important; font-weight: normal !important; }
.robotoslab-bold{ font-family: 'Roboto Slab', serif !important; font-weight: bold !important; }

.browse_stores{
  color:green;
  font-size: 18px;
}

.browse_stores:hover{
  color: black;
  font-size: 18px;
}

.mpc_link{
  color: #333;
  text-decoration:none;
}

.mpc_link:hover,
.mpc_link:focus,
.mpc_link.focus,
.mpc_link:active,
.mpc_link.active{
  color: #ff6600;
  text-decoration:none;
}

.pcs_show_hide {
  margin-top: -5px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.pcs_list_link{
  color: #333;
  text-decoration:none;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}

.pcs_list_link:hover,
.pcs_list_link:focus,
.pcs_list_link.focus,
.pcs_list_link:active,
.pcs_list_link.active{
  color: #ff6600;
  text-decoration:none;
}

.general_theme_link{
  color: #333;
  text-decoration:none;
}

.general_theme_link:hover,
.general_theme_link:focus,
.general_theme_link.focus,
.general_theme_link:active,
.general_theme_link.active{
  color: #ff6600;
  text-decoration:none;
}

.inverse_general_theme_link{
  color: #ff6600;
  text-decoration:none;
}

.inverse_general_theme_link:hover,
.inverse_general_theme_link:focus,
.inverse_general_theme_link.focus,
.inverse_general_theme_link:active,
.inverse_general_theme_link.active{
  color: #333;
  text-decoration:none;
}


.vertical_listings {
  -webkit-column-count: 6; /* Chrome, Safari, Opera */
  -moz-column-count: 6; /* Firefox */
  column-count: 6;
}

.popup_window {
  text-align:center;
  background-color:white;
}

.popup_window h2{
  color: #ff6600;
}

.popup_window form {
  display:inline-block;
}

.popup_body{
  background-color:white;
  background: none !important;
}


#coupons-popup, .details-box {
  #coupons {
    background: #fff;
    .coupon {
      padding: 5px 20px;


      .coup-header {
        font-family: Museo;
        font-weight: bold;
        font-size: 20px;
        color: #4f6971;
      }

      .coup-box {
        width: 238px;
        height: 44px;
        padding-left: 16px;
        width: 222px;
        background: image-url("coupon-box.png") no-repeat 0 0;
        line-height: 44px;
        white-space: nowrap;
        overflow: auto;
        float: left;
        color: #656565;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
        text-align: left;
      }

      .coup-coupon-wrap {
        padding-top: 20px;
        overflow: hidden;
        padding-bottom: 15px;
        display: inline-block;
        margin: 0 auto;
      }

      .click-to-copy {
        margin-left: 8px;
        float: left;
        width: 100%;
        height: 37px;
        color: #ff6600;
        font-family: MuseoSlab;
        font-size: 12px;
        text-align: center;
      }

      .coup-desc {
        font-size: 12px;
        color: #656565;
        padding-right: 35px;
        font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      }
    }

  }
}
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.no_border{border:none !important}

#mm_user_score {
  margin-right: -28px;
  font-weight: normal;
  float: right;
  width: 92px;
  height: 93px;
  line-height: 56px;
  font-size: 26px;
  color: #FFF;
  text-align: center;
  background: url("new_score_star.png") no-repeat scroll 0% 0% transparent;
}


.justified-text{ text-align: justify; }
.join-today-label{ float: left; }
.margin-top-10{ margin-top: 10px; }
.margin-top-20{ margin-top: 20px; }
.join-now-container{ margin: 0px 5px; }
#hp_popup{ max-width: 600px; display: none; }
a.footer-social-link{ font-size: 12px; color: #dadada; }
a.footer-social-link:hover{ font-size: 12px; color: #dadada; text-decoration: none; }
.logged-in-links li{ list-style-type: none; margin: 0; padding: 0; }
.menu-top-right-links{ font-size: 11px; color: #a9a9a9; font-family: RobotoSlab-Bold; }
.menu-top-right-links a{ font-size: 11px; color: #fff; padding: 0 !important; font-family: RobotoSlab-Bold; }
.menu-top-right-links li{ padding: 0 5px; }
.divider-right{ border-right: 1px solid #a9a9a9; margin: 0px; }
.padding-top-5-imp{ padding-top: 5px !important;}
.margin-right-40{ margin-right: 40px; }
.menu-link-email{ color: #a9a9a9; }
.menu-top-right-links li a:hover{text-decoration: underline !important; color: #fff; padding-bottom: 5px; }
.coming-soon-container{ margin: 0px; }
#coming_soon_popup{ max-width: 600px; display: none; min-width: 300px; margin-top: 25px; }
#browser-content { margin-left: -8px; }
#browser-logo-chrome, #browser-logo-firefox, #browser-logo-ie, #browser-logo-safari {
  //width: 48px;
  //height: 49px;
  //background: url("homepage/browser-logos.png") no-repeat;
  display: inline-block;
  margin: 0;
  opacity: 0.4;
}
.browser-logo-enabled{ cursor: pointer; cursor: hand; opacity: 1!important; }
#browser-logo-firefox{ background-position: -50px 0; }
#browser-logo-ie{ background-position: -102px 0; }
#browser-logo-safari{ background-position: -154px 0; }
.show_more { display: inline !important; margin-left: -4px; }
.hide_more { display: none; }
.fancybox-close {
  width: 35px;
  height: 35px;
  /*background: url("close.png") no-repeat;*/
}
p.arrows {
  color: #BAB9BD;
  margin-top: 4px;
  margin-left: 4px;
  font-weight: bold;
  letter-spacing: 1px;
}

a.cp-next-btn, a.cp-back-btn {
 &:hover {
   text-decoration: none !important;
 }
}

.fav_merchant {
  .bottom_div {
    margin-top:-150px;
    opacity:0.7;
    background:#817B7B;
    width:99.2%;
    height:150px;
  }
  .inner_div {
    margin-top: -150px;
    position: absolute;
    padding: 0 10px;
  }

   .bg_div { width:150px;float:left; }
    #left_div {
      background: #fff;
      padding: 36px 0px;
      margin: 18px 0px 18px 0;
      text-align: center;
    }
    .cash-back1 {
      font-size:27px;
      font-weight:bold;
      float:left;
      margin-left: 5px;
      color:#fff!important;
      padding: 46px 5px;
      opacity: 0.9;
    }
}
.text-align-right-local-services{ text-align: right !important; margin-right: 10px; }
.already-joined-label{
  font-size: 11pt; //14pt
  letter-spacing: 0px;
}
.margin-top-60{ margin-top: 60px; }
.margin-top-25{ margin-top: 25px; }
.margin-bottom-0{ margin-bottom: 0; }
.padding-left-2{ padding-left: 2px; }
.coupon-cash-scissor{ margin-top:-44px; margin-right: -26px; position: relative; z-index: 99; }
.top-deals-scissor{ margin-top: -30px; margin-right: -30px; }

#back { text-align:center;margin-top:25px; }

.back_link, .back_link:hover {
  background: none repeat scroll 0 0 #ff6600 !important;
  border: 1px solid #ff6600;
  text-align: center;
  width: 175px;
  font-weight: 700;
  font-size: 17px;
  border-radius: 0px;
  padding: 9px 0px;
}
.popular-category-scissor{ margin-top: -30px; margin-right: -25px; }
.roboto-normal{ font-family: 'Roboto', serif !important; font-weight: normal !important; }
.roboto-bold{ font-family: 'Roboto', serif !important; font-weight: bold !important; }
.roboto-thin{ font-family: 'Roboto', serif !important; font-weight: 100 !important; }
.roboto-light{ font-family: 'Roboto', serif !important; font-weight: 300 !important; font-size:20px; }
.roboto-medium{ font-family: 'Roboto', serif !important; font-weight: 500 !important; }
.cursor-pointer{ cursor: pointer; }
.search-result-title{ width: 100%; margin: 0 auto; }
.large-search-results-label, .small-search-results-label, .line{ display: inline-block; }
.large-search-results-label{ font-family: 'Roboto Slab', serif; font-size: 24px; padding-right: 5px; }
.small-search-results-label{ font-family: 'Roboto Slab', serif; font-size: 18px; padding-right: 5px; }
.line{
  color: #a9a9a9;
  border-color: #a9a9a9;
  background-color: #a9a9a9;
  width: 62.5%;
  height: 1px;
  margin-top: -5px;
  vertical-align: middle;
}
.search-results-back-section{ width: 100%; margin: 0 0 0 6px; height: 35px; }
a.back-from-search{
  background-color: #585654;
  margin: 0 10px;
  color: #fff;
  width: 100px;
}
a.back-from-search:hover{
  background-color: #585654;
  margin: 0 10px;
  color: #fff;
  width: 100px;
}
.search-results-bottom-line-img{ vertical-align: middle; margin-top: 12px; width: 80%; }
.gray-border-sq-box{
  border: 5px solid #d2d2d1;
  border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  padding-bottom: 0 !important;
  min-height: 380px;
}
.no-gray-border{ border: 0 !important; margin-top: 0 !important; min-height: 165px !important; }
.shop-now-container{ width: 100%; text-align: center; }
.width-125{ width: 125px !important; text-align: center; margin-top: 10px; margin-left: 15px; }
.margin-left-36{ margin-left: 36px; }
.padding-left-0{ padding-left: 0; }
.min-height-70{ min-height: 70px; }
.custom_ss_field{
  border-radius: 4px 4px 0 !important;
  width: 100% !important;
  font-size:18pt !important;
}

.custom_ss_btn{
  border-radius: 1px 4px 4px 0 !important;
  }

.cal_section_right{
  margin-right:210px !important;
}

.wd_33 {
  width:33%;
  padding: 0 0 0 15px;
}
.height-535{ height: 535px; }
.height-50{ height: 50px; }
.height-60{ height: 60px; }
.margin-left-20{ margin-left: 20px; }
.margin-top-50{ margin-top: 50px; }

//New Layout required fonts RobotoSlab & only Roboto
//RobotoSlab
.rbs_regular{font-family: RobotoSlab-Regular;}
.rbs_thin{font-family: RobotoSlab-Thin;}
.rbs_light{font-family: RobotoSlab-Light;}
.rbs_bold{font-family: RobotoSlab-Bold;}
//Roboto
.rb_regular{font-family: Roboto-Regular;}
.rb_medium{font-family: Roboto-Medium;}
.rb_medium_italic{font-family: Roboto-MediumItalic;}
.rb_thin{font-family: Roboto-Thin;}
.rb_thin_italic{font-family: Roboto-ThinItalic;}
.rb_light{font-family: Roboto-Light;}
.rb_light_italic{font-family: Roboto-LightItalic;}
.rb_italic{font-family: Roboto-Italic;}
.rb_c_regular{font-family: RobotoCondensed-Regular;}
.rb_c_light{font-family: RobotoCondensed-Light;}
.rb_c_light_italic{font-family: RobotoCondensed-LightItalic;}
.rb_c_italic{font-family: RobotoCondensed-Italic;}
.rb_c_bold{font-family: RobotoCondensed-Bold;}
.rb_c_bold_italic{font-family: RobotoCondensed-BoldItalic;}
.rb_bold{font-family: Roboto-Bold;}
.rb_black{font-family: Roboto-Black;}
.rb_black_italic{font-family: Roboto-BlackItalic;}
//End of New Layout required fonts RobotoSlab & only Roboto

.mps_merchants_section{
  font-size:13px;
  padding: 2px 3px 0px 0px;
  word-wrap: break-word;
  font-family: Roboto-Regular;
}
.ul-click-to-call{ min-height: 115px; padding-left: 15px; }
.click-to-call-service p { margin-left: 15px !important; margin-bottom: 25px; }
.ypmb-left-section{ width: 35.666667% !important;}
.margin-right-35{ margin-right: 35px; }
.margin-right-15{ margin-right: 15px; }
.font-size-13{ font-size: 13px; }
.text-transform-none{ text-transform: none !important; }
.header-auth-icon{ margin-top: -2px; margin-right: 2px; }


.banner .title, .panel-area .title {
	margin-top:0;
}
.banner .title, .panel-area .title.title2 {
	margin-top:18px;
}

.table > thead > tr > th {
	width:33%;
}

.table > tbody > tr > td {
	width:33%;
}
.row.deals-content {
	margin-left: 0;
    margin-right: 0;
}

.row.deals-content .col-md-4.col-sm-6 {
	padding-left: 6px;
    padding-right: 6px;
}

.footer {
	margin-top: 10px;
}

.popular-stories .subtitle.fancy3 {
    margin-bottom: 27px;
    margin-top: 6px;
}

#hp_popup .row h3 {
	font-weight:300;
	color:#656565;
}
.fancybox-skin .btn-primary-custom {
	text-transform:uppercase;
	font-weight:bold;
	padding-left:24px;
	padding-right:24px;
}
.headerHomeNew .container-fluid {
	max-width:1280px;
	padding:0;
	margin:0 auto;
}

.nav#main-nav li.active, .nav#main-nav li, .nav#main-nav li:hover , .nav#main-nav li.active a, .nav#main-nav li a, .nav#main-nav li a:hover {
	background:none !important;
	background-color:transparent !important;
}



@media only screen and (max-width: 800px) {
.vertical_listings {
  -webkit-column-count: 0; /* Chrome, Safari, Opera */
  -moz-column-count: 0; /* Firefox */
  column-count: 0;
}
.mps_less_listings {
  -webkit-column-count: 0; /* Chrome, Safari, Opera */
  -moz-column-count: 0; /* Firefox */
  column-count: 0;
}
.ypmb-left-section{ width: 100% !important;}
}
@media only screen and (max-width: 320px) {
.vertical_listings {
  -webkit-column-count: 0; /* Chrome, Safari, Opera */
  -moz-column-count: 0; /* Firefox */
  column-count: 0;
}
.mps_less_listings {
  -webkit-column-count: 0; /* Chrome, Safari, Opera */
  -moz-column-count: 0; /* Firefox */
  column-count: 0;
}
}