%section.green-box
  %h3 Hey, this is private!
  %p Rest assured, all of the information Ubitru collects is private. No one can see it unless you sell it via your anonymous profile.
%section.milky-box.box-with-stamp
  %h3
    Are you a vendor 
    %br
    or service provider?
  %p 
    Head on over to the
    %a{:href => company_path} Company Zone
    and start growing your sales today!
  %div.stamp#hot-leads-stamp